html {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

#nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 26%;
}

.nav {
  font-size: 16px;
  margin: 13px;
  cursor: pointer;
  list-style: none;
  color: black;
  text-decoration: underline;
}

.nav:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  margin: 0 -10px;
  list-style: none;
}

li {
  margin: 0 25px;
}

.tabs {
  padding: 20px;
}

.estermaneye h1 {
  font-size: 30px;
  color: black;
  padding: 1% 0px 0px 5%;
  display: inline-block;
  font-weight: 300;
}

.estermaneye h1:hover {
  text-decoration: underline;
}

form.searchBar {
  position: absolute;
  top: 7%;
  left: 83%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid pink;
  padding: 5px;
}

input#searched {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  display: none;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  cursor: pointer;
}

form.searchBar:hover {
  width: 200px;
}

form.searchBar:hover input#searched {
  display: block;
}

form.searchBar:hover .fa {
  background: #07051a;
  color: white;
}

button:focus {
  outline: none;
}

.car-top {
  margin-left: 16%;
  width: 33%;
}

.openingimg {
  margin-top: 3%;
  margin-bottom: 100px;
}

.open {
  border: 15px solid white;
}

.dye-top {
  width: 25%;
  margin-bottom: 80px;
  border-left: 0px;
}

.shoes {
  width: 17%;
  margin-bottom: 100px;
  border-left: 0px;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 13%;
}

.item {
  height: 340px;
  width: 330px;
  margin: 30px;
  border-bottom: 80px solid transparent;
  border-radius: 4px;
}

.item:hover {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.listing {
  position: relative;
}

.item-name {
  position: absolute;
  top: 76%;
  left: 11%;
  color: black;
  font-size: 15px;
}

.price {
  position: absolute;
  top: 83%;
  left: 14.5%;
  color: black;
  font-size: 14px;
  transform: translate(-50%, -50%);
}

.c-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 50px;
}

.c-item {
  width: 100%;
  margin: 20px 0;
  left: 0px;
}

div.cart-item {
  background-color: white;
  margin: 20px;
  width: 40%;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  height: 100%;
  float: left;
}

div.cart-item img {
  width: 100%;
  padding-bottom: 15px;
}

.cart-page h2 {
  text-align: center;
  padding-bottom: 30px;
}

.cart-page input,
.cart-page button {
  width: 37%;
  margin: 20px 0;
  height: 20px;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid #d1d5da;
  font-size: 10px;
}

.cart-page input:focus,
.cart-page button:focus {
  outline: 0;
}

.cart-page button:hover {
  transform: scale(1.01);
}

.checkout-cart {
  width: 90%;
  margin-top: 80px;
}

.checkout-cart a {
  color: blue;
}

.piece {
  display: flex;
  justify-content: space-between;
}

.paypal a,
.add-to-cart {
  color: white;
  padding: 10px;
  background-color: #926e4f;
  text-decoration: none;
  border: none;
}

.add-to-cart:hover {
  transform: scale(1.06);
}

.paypal a:hover {
  color: black;
}

.paypal {
  padding: 10px 0px;
}

button.buyNowBtn {
  background-color: rgba(0, 0, 0, 0.858);
  color: white;
  padding-bottom: 25px;
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {
  .item {
    height: 300px;
    width: 270px;
  }

  .shoes {
    display: none;
  }

  .car-top {
    margin-left: 20%;
    width: 43%;
  }

  .dye-top {
    width: 27%;
  }

  #nav-bar {
    top: 18%;
  }
}

@media only screen and (min-width: 449px) and (max-width: 750px) {
  button {
    font-size: 8px;
  }

  .item {
    height: 250px;
    width: 250px;
  }

  .item-name {
    top: 80%;
  }

  .price {
    top: 88%;
    left: 16%;
  }

  .nav {
    font-size: 12px;
  }

  .shoes,
  .car-top {
    display: none;
  }

  .dye-top {
    width: 65%;
    margin: 40px 0 80px 160px;
  }

  #nav-bar {
    top: 29%;
  }

  .tabs {
    font-size: 13px;
    padding: 17px;
  }

  .estermaneye {
    font-size: 13px;
    margin-left: 4%;
  }
}

@media screen and (max-width: 449px) {
  #nav-bar {
    position: static;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    padding: 5px;
  }

  .estermaneye h1 {
    padding-bottom: 30px;
  }

  .nav {
    padding-top: 0px;
    line-height: 0.01;
    font-size: 13px;
    font-style: italic;
    text-decoration: underline;
  }

  .item {
    margin: 5px;
    width: 160px;
    height: 180px;
  }

  .item-name,
  .price {
    font-size: 11px;
  }

  .item-name {
    top: 67%;
    left: 9%;
  }

  .price {
    top: 75%;
  }

  .tabs {
    font-size: 10px;
    padding: 1px;
  }

  .estermaneye h1 {
    margin: 0 auto;
    padding-top: 30px;
    font-size: 30px;
  }

  .flex-container {
    margin-left: 0%;
  }

  .c-container {
    width: 100%;
    padding: 10px;
  }

  .c-item {
    width: 98%;
  }

  .info {
    padding: 10px;
  }

  .cart-page input,
  .cart-page button {
    width: 80%;
    display: block;
    margin: 20px auto;
  }

  div.cart-item {
    width: 80%;
  }

  .checkout-cart {
    padding: 20px;
  }

  form.searchBar {
    /* top: 18%;
    left: 10%; */
    display: none;
  }

  .shoes,
  .car-top {
    display: none;
  }

  .dye-top {
    width: 99%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .item {
    width: 140px;
    height: 160px;
  }
}

@media (min-width: 449px) {
  .info {
    width: 35%;
    position: absolute;
    top: 44%;
    left: 76%;
    transform: translate(-50%, -50%);
    line-height: 1.6;
  }
}
